/*Whole page*/
* {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    color: black;
    }
a:link {
    text-decoration: none;

}  
/*Header*/
    header {
        text-align: center;
        width: 100%;
        display: wrap;
        background-image: url("/images/lemons.jpg");
        padding-top: 30px;
        padding-bottom: 30px;
    }
    /*Navagation working*/
    #navbar {
        display: flex;
        justify-content: space-around;
        /*position: fixed;
        background-color(purple): rgba(203, 160, 255, 0.925);*/
        width: 100%; 
        height: 20px;
        font-size: 18px;
        padding-top: 10px;
        padding-bottom: 55px;
        background-color: rgb(252, 251, 182);
    }
    
    #navlist {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
    
    #navlist a{
        display: block;
        padding: 1rem;
    }


    #navlist a:hover {
        background: rgba(203, 160, 255, 0.514)
       }

      /*:active*/
    .active a.current{
        color: black;
        background-color: rgba(141, 140, 141, 0.377);
     }
     
  nav:active{
      color: rgba(203, 160, 255, 0.925);
  }

  .links a:hover{
    background-color: rgba(203, 160, 255, 0.925);
}
    .links a:active {
        background-color: rgba(141, 140, 141, 0.925);
      }

/*Body and main working working*/
form{
    display: flex;
    justify-content: center;
}
button{
    font-size: 14px;
}

.button {
    text-decoration: none;
    display: flex;
    justify-content: center;
  }

  fieldset {
    display: flex;
    justify-content: center;
    width: 600px;
  }

  label{
      margin: 10px;
  }
  .wrapper{
    width: auto;
    max-width: 100000000px;
    min-width: 300px;
    filter: drop-shadow(1px 1px 3px #00000041);
  }

    body{
        margin: 0;
    }

    main {
        margin: 20px;
    }

    h1 {
        font-size: 36px;
    }

    span, h2, h1 {
        text-shadow: 2px 2px yellow;
    }

    h4{
        font-size: 36px;
        text-shadow: 2px 2px yellow;
    }

    h2{
        font-size: 24px;
    }

    h3{
        border-color: rgba(0, 0, 0, 0.548);
        font-size: 14px;
    }

    a, p{
        font-size: 16px;
    }

    ul {
        list-style: none;
    }

    ol, ul, dl{
        font-size: 14px;
        margin: 10px;
        padding: 10px;
        float: center; 
    }
    .list {
        display: wrap;
    }
    .Header {
        display: flex;
        justify-content: center;
     }

/*footer*/
    footer {
        background-image: linear-gradient(white, rgb(252, 251, 182));
        border-style: ridge;
        border-width: medium;
        text-align: center;
        padding-bottom: 10px;
        padding-top: 10px;
    }

    /*@media rules*/

@media screen and (max-width: 100000px) {
    #navbar {
        display: flex;
        justify-content: space-around;
        /*position: fixed;
        background-color(purple): rgba(203, 160, 255, 0.925);*/
        width: 100%; 
        height: 20px;
        font-size: 18px;
        padding-top: 10px;
        padding-bottom: 70px;
        background-color: rgb(252, 251, 182);
    }
    
    #navlist {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
    
    #navlist a{
        display: block;
        padding: 1rem;
    }

    #navlist a:hover {
     background: rgba(203, 160, 255, 0.514);
    }
}
@media screen and (max-width: 970px) {
    #navbar {
        display: flex;
        justify-content: space-around;
        width: 100%; 
        height: 20px;
        padding-bottom: 100px;
        background-color: rgb(252, 251, 182);
    }
    
    #navlist {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
    
    #navlist a{
        display: block;
        padding: .4rem;
    }

    #navlist a:hover {
     background: rgba(203, 160, 255, 0.514);
    }
}

@media screen and (max-width: 600px) {
    html {
        background-image: linear-gradient(white, rgb(203, 160, 255, 0.514));
    }
    #navbar {
        display: flex;
        justify-content: space-around;
        width: 100%; 
        height: 20px;
        padding-bottom: 90px;
        background-color: rgb(252, 251, 182);
        
    }
    
    #navlist {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
    
    #navlist a{
        display: block;
        padding: 3px;
    }

    #navlist a:hover {
     background: rgba(203, 160, 255, 0.514);
    }
    button{
        border-radius: 25px;
    }
}
